{% extends "jots/layout.html" %}

{% block content %}

    <h2>Reset your password</h2>

    <form action="{% url 'password_reset' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="email" placeholder="email address">
        </div>
        <button class="btn btn-primary">Request Password Reset</button>
    </form>

    <small>Don't have an account? <a href="{% url 'register' %}">Register here.</a></small>

{% endblock %}