<!-- templates/registration/password_reset_confirm.html -->
{% extends 'jots/layout.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}


<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  
    <a href="{% url 'password_reset' %}">Please request a new password reset.</a> </p>

{% endif %}

{% endblock %}