{% extends 'jots/layout.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <h2>{{ profile.nom_de_guerre }}</h2><br>

            {% if profile.image %}
                <img src="{{ profile.image.url }}" alt="{{ profile.name }}" class="img-circle" />
            {% endif %}

        {{ profile.description }}
            {% if profile.contact_me %}
                <!-- <a href="mailto:{{ profile.contact_me }}">{{ profile.contact_me }}</a> -->
            {% endif %}

        {% if not profile %}
            <h1>Create a profile for others to view</h1>
            <form action="{% url 'profile' user.id %}" method="post">
                {% csrf_token %}
                {{ form }}<br>
                <button type="submit" class="btn btn-primary">Create Profile</button>
            </form>
        {% endif %}

        {% if user == profile.user%}
            <footer>
                <button>
                    <a href="{% url 'profile_edit' user.id %}">Edit Profile</a>
                </button>
            </footer>

        {% endif %}

    {% else %}
        <p>You must logged in order to view this page.</p>
    {% endif %}


{% endblock %}